<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:requestLegacyExternalStorage="true">
    <activity
        android:name=".scan.CaptureActivity"
        android:screenOrientation="portrait"
        android:theme="@style/MNScanCaptureTheme" />
    </application>
</manifest>